@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?30230195');
  src: url('../font/fontello.eot?30230195#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?30230195') format('woff2'),
       url('../font/fontello.woff?30230195') format('woff'),
       url('../font/fontello.ttf?30230195') format('truetype'),
       url('../font/fontello.svg?30230195#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?30230195#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before {transition: .3s; color: #FFF; content: '\e800'; } /* '' */
.icon-linkedin:before {transition: .3s; color: #FFF; content: '\e801'; } /* '' */
.icon-twitter:before {transition: .3s; color: #FFF; content: '\e802'; } /* '' */
.icon-down-open-mini:before {font-size: 20px; content: '\e803'; } /* '' */
.icon-right-open-mini:before {font-size: 20px; content: '\e804'; } /* '' */
.icon-left-open-big:before {color: #FFF; padding-top: 2px; content: '\e805'; } /* '' */
.icon-right-open-big:before {color: #FFF; padding-top: 2px; content: '\e806'; } /* '' */
.icon-youtube:before {transition: .3s; color: #FFF; content: '\f167'; } /* '' */
.icon-instagram:before {transition: .3s; color: #FFF; content: '\f31e'; } /* '' */