.footer {
    background-color: $color-background-secondary;
    padding: 80px 0;
    .content-footer {
        width: 90vw;
        margin: auto;
        text-align: center;
        @include breakpoint($breakpoint-md){
            width: 80vw;
            display: flex;
            justify-content: space-between;
        }
        .text {
            color: $color-secondary;
            padding-bottom: 30px;
            .footer-text-effect {
                color: darken($color-secondary, 30%);
                transition: .2s;
                &:hover {
                    cursor: pointer;
                    color: darken($color-secondary, 50%);
                }
            }
        }
        .content-social-media {
            width: 60vw;
            max-width: 250px;
            margin: auto;
            display: flex;
            justify-content: space-around;
            @include breakpoint($breakpoint-md){
                margin: 0;
            }
            i:hover:before {
                cursor: pointer;
                transition: .3s;
                color: $color-button;                
            }
        }
    }
}