html,
body,
p,
ul,
li,
h1,
h3 {
    margin: 0;
    padding: 0;
}
ul,
li,
a {
    list-style: none;
    text-decoration: none;
}
a,
li {
    -webkit-tap-highlight-color:transparent;
}
body {
    font-family: Arial, sans-serif;
    height: 1000px;
}
.container {
    height: 100%;
    padding: 40px 5%;
    box-sizing: border-box;
    @include breakpoint($breakpoint-md){
        padding: 60px 5%;
    }
    @include breakpoint($breakpoint-lg){
        padding: 80px 5%;
    }
}
.title {
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 300;
    @include sizing;
}
.main-title {
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    padding-bottom: 30px;
}
.subtitle {
    padding: 50px 20px;
    @include sizing;
}
.main-subtitle{
    color: lighten($color-third, 30);
    line-height: 1.8;
}
.btn {
    background-color: lighten($color-nav, 10%);
    text-transform: capitalize;
    margin: 50px auto 0;
    box-shadow: none;
    border: none;
    &:focus {
        outline: none;
    }    
    @include button;
    &:hover {
        background-color: darken($color-nav, 10);
        opacity: .8;
    }
}