.header {
    width: auto;
    background-color: $color-secondary;
    padding: 0 5%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint($breakpoint-lg){
        padding: 15px 5%;
    }
    .logo {
        font-size: 24px;
        line-height: 70px;
        color: $color-text-primary;
        text-transform: capitalize;
        transition: .3s;
        &:hover {
            color: darken($color-text-primary, 10%);
        }
    }
    .nav {
        height: 40px;
        width: 40px;
        position: relative;
        border: 2px solid transparent;
        transition: .3s;
        &.burger-click {
            border: 2px solid lighten($color-nav, 25%);
            border-radius: 5px;
            @include breakpoint($breakpoint-lg){
            border: 2px solid transparent;
            }
        }
        @include breakpoint($breakpoint-lg){
            height: auto;
            width: auto;
        }
        .nav-burger {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -35%);
            @include breakpoint($breakpoint-lg){
                display: none;
            }
            .burger-line {
                height: 4px;
                width: 20px;
                border-top: 2px solid $color-nav;
            }
        }
        .nav-list {
            display: none;
            @include breakpoint($breakpoint-lg){
                display: flex;
                text-transform: uppercase;      
            } 
            .nav-item {
                line-height: 60px;
                font-size: 14px;
                padding-right: 30px;
                color: darken($color-text-primary, 10%);
                transition: .3s;
                display: flex;
                &:hover {
                    cursor: pointer;
                    color: $color-nav;
                    .nav-arrow {
                        position: absolute;
                        z-index: 1;
                        @include nav-arrow;
                        @include hover-shadow;
                    }
                    .nav-arrow-level3 {
                        display: flex;
                        justify-content: space-between;
                        @include nav-list;
                        &:hover {
                            .nav-arrow-level3-list {
                                position: absolute;
                                left: 100px;
                                top: 39px;    
                                @include nav-arrow;
                                @include hover-shadow;
                            }
                        }
                        .nav-arrow-level3-list {
                            display: none;
                        }
                    }
                }
                .arrow {
                    padding-left: 5px;
                }
                .nav-arrow {
                    display: none;
                }
            }
        }
    }
    .burger-nav {
        width: 0;
        height: 0;
        background-color: $color-secondary;
        position: absolute;
        top: 0;
        opacity: 0;
        @include breakpoint($breakpoint-lg) {
            display: none;
        }
        &.active {
            height: auto;
            width: 100%;
            position: absolute;
            top: 70px;           
            left: 0;
            opacity: .8;
            background-color: $color-secondary;
            padding: 10px 5%;
            box-sizing: border-box;
            z-index: 2;
            .burger-list-item {
                @include nav-list;
                padding: 10px 0;
                line-height: 1.8;
                font-size: 25px;
                &:active {
                    border-left: 30px solid lighten($color-nav, 25%);
                }   
            }    
        }
    }
}