@mixin breakpoint($width) {
    @media (min-width: $width) {
        @content;
    }
}
@mixin nav-list {
    cursor: pointer;
    text-transform: capitalize;
    padding: 5px 10px;
    transition: .3s;
    color: darken($color-text-primary, 20);
    @include breakpoint($breakpoint-lg) {
        color: $color-text-primary;
        &:hover {
        color: $color-nav;
        }
    }
}
@mixin nav-arrow {
    min-width: 100px;
    line-height: 30px;
    display: block;
    color: $color-text-primary;
    background-color: #fff;
    font-size: 14px;
    padding: 10px 0; 
    top: 50px;
    border: 1px solid $color-text-primary;
    box-shadow: 2px 2px 10px 1px $color-text-primary;  
    .list-item {
        @include nav-list;
    }
}
@mixin hover-shadow {
    opacity: .7;
    transition: .3s;
    &:hover {
        opacity: 1;
        box-shadow: 5px 5px 10px 1px $color-text-primary;  
    }
}
@mixin text-shadow {
    text-shadow: 
    -.5px -.5px 10px darken($color-text-primary, 20),
    .5px -.5px 10px darken($color-text-primary, 20),
    -.5px .5px 10px darken($color-text-primary, 20),
    .5px .5px 10px darken($color-text-primary, 20);  
}
@mixin background {
    @include text-shadow;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    color: $color-secondary;   
}
@mixin sizing {
    @include breakpoint($breakpoint-sm) {
        transform: scale(1.1);
    }
    @include breakpoint($breakpoint-md) {
        transform: scale(1.2);
    }
}
@mixin button {
    min-width: 150px;
    max-width: 200px;
    color: #fff;
    padding: 20px 50px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    transition: .4s;
    cursor: pointer;
    box-sizing: border-box; 
    text-shadow: none;
    @include breakpoint($breakpoint-md){
        min-width: 180px;
        font-size: 16px;
        padding: 20px 40px;
    }
}
@mixin computer-img {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @include breakpoint($breakpoint-sm){
        height: 400px;
    }
    @include breakpoint($breakpoint-md){
        width: 60%;
    }
    @include breakpoint($breakpoint-lg){
        height: 450px;
    }
}
@mixin main-text {
    @include breakpoint($breakpoint-md){
        width: 40%;
        padding-top: 70px;
    }
    @include breakpoint($breakpoint-lg){
        width: 40%;
        padding-top: 60px;
    }
}
