.section-photos {
    background-color: $color-background-secondary; 
    .container {
        @include breakpoint($breakpoint-md) {
            padding: 30px 0 70px;
        }
    }
    .content-text {
        color: $color-secondary;
        text-align: center;
        padding: 50px 0;
        text-transform: capitalize;
        .photos-title {
            font-size: 30px;
            padding-bottom: 20px;
        }
        .photos-subtitle {
            margin-bottom: 20px;
        }
    }
    .content-photos {
        @include breakpoint($breakpoint-sm) {
            display: flex;
            flex-wrap: wrap;
            margin: auto;
        }
        .photo {
            width: 100%;
            max-width: 365px;
            margin: 0 auto 10px;
            background-size: contain;
            background-repeat: no-repeat;
            display: flex;
            position: relative;
            @include breakpoint($breakpoint-xs) {
                max-width: 500px;    
            }
            @include breakpoint($breakpoint-md) {
                width: 50%;
                max-width: 515px;
                margin: 0;
            }
            
            @include breakpoint($breakpoint-lg) {
                width:25% ;
                &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: $color-third;
                    opacity: 0;
                    transition: .3s;
                }
                &:hover{   
                    &:before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        opacity: .3;
                    }
                }
            }
            .img {
                width: 100%;
                height: 100%;
            }
        }
        .photo-hover {
            width: 100%;
            height: 100%;
            color: $color-secondary;
            position: absolute;
            padding: 20px;
            box-sizing: border-box;
            opacity: 1;
            @include text-shadow;
            @include breakpoint($breakpoint-lg){
                font-size: 20px;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: .3s;
                &:hover {
                    width: 100%;
                    height: 100%;
                    transition: .3s;
                    opacity: 1;    
                }
            }
        }
    }

}