.section-clients {
    padding-top: 50px;
    .content-clients {
        width: 80vw;
        margin: auto;
        padding: 30px 0 50px;
        .client-icon {
            height: 60px;
            width: 20%;
            text-align: center;
            &:focus {
                outline: none;
            }     
            @include breakpoint($breakpoint-md) {
                height: 80px;
            }
            .icon {
                height: 100%;
                margin: auto;
            }
        }
    }
    .container {
        margin: auto;
        background-color: $color-background;
        border-top: 2px solid rgba(0, 0, 0, 0.1);

        .content-do-you-like {
            text-align: center;
            width: 90vw;
            @include breakpoint($breakpoint-lg){
                width: 80vw;
                margin: auto;
                display: flex;
                justify-content: space-between;
            }
            .main-title {
                padding: 0 0 30px;
                line-height: 64px;
                @include breakpoint($breakpoint-lg){
                    padding: 0;
                }
            }
            .btn {
                margin: auto;
                @include breakpoint($breakpoint-lg){
                    margin: 0;
                }
            }
        }
    }
}