.section-friendly {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    .content-friendly {
        @include breakpoint($breakpoint-md){
            display: flex;
        }
        .friendly-img {
            background-image: url(../assets/img/computer1.webp);
            @include computer-img;
        }
        .friendly-text {
            text-align: center;
            @include main-text;
        }
    }
}