.section-intro {
    height: auto;
    width: 100%;
    background: transparent;
    .content-intro {
        @include background;
        .buttons {
            max-width: 400px;
            display: flex;
            justify-content: space-around;
            margin: auto;
            text-transform: uppercase;
            text-shadow: none;
            .btn-outline {
                background: transparent;
                border: 2px solid $color-secondary;
                padding: 20px 20px;
                &:focus {
                    outline: none;
                }    
                @include text-shadow;
                @include button;
                @include breakpoint($breakpoint-md){
                    min-width: 180px;  
                padding: 20px 20px;
            }
            &:hover {
                background-color: $color-secondary;
                color: darken($color-text-primary, 20%); 
                opacity: .8;
                text-shadow: none;
                }
            }
        }

    }  
}