.section-customers {
    background: transparent;
    position: relative;
    .arrow-customer {
        width: 20px;
        height: 20px;
        border: 2px solid $color-secondary;
        border-radius: 5px;
        position: absolute;
        top: calc(50% - 10px);
        z-index: 2;
    }
    .arrowPrev {
        left: 10%;
    }
    .arrowNext {
        right: 10%;
    }
    .container-opinions {
        padding: 0 10%;
        .content-opinion {
            margin: auto;
            padding: 30px 10px;
            text-align: center;
            &:focus {
                outline: none;
            }     
            @include text-shadow;
            .main-title {
                color: $color-secondary;
            }
            .main-subtitle {
                color: $color-secondary;
                width: $content-width;
                margin: 0 auto 30px;
            }
            .customer-foto {
                width: $circle-size;
                height: $circle-size;
                border-radius: 100%;
                margin: 0 auto 20px;
                overflow: hidden;
                .foto {
                    width: $circle-size;
                }
            }
            .name-customer {
                text-transform: capitalize;
                color: $color-secondary;
                @include text-shadow;
            }
        }
    }
}