.section-limitless {
    background-color: $color-background;
    .content-limitless {
        text-align: center;
        margin: 0 auto 50px;
        width: $content-width;
    }
    .limitless-img {
        height: 130vh;
        background-image: url(../assets/img/background3.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
}