.section-transparent {
    background-color: $color-background;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);

    .content-transparent {
        @include breakpoint($breakpoint-md){
            display: flex;
        }
        .transparent-img {
            background-image: url(../assets/img/computer2.webp);
            @include computer-img;
            @include breakpoint($breakpoint-md){
                order: 2;
            }
        }
        .transparent-text {
            text-align: center;
            @include main-text;
        }
    }
}