
//RWD

$breakpoint-xs: 480px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

///COLORS

$color-text-primary: #8c979e;
$color-secondary: #fff;
$color-third: #000;
$color-background: #F5F5F5;
$color-background-secondary: #0E1015;

$color-nav: #3a52bf;
$color-button: #745cf9;

///SIZES

$circle-size: 100px;
$content-width: 65%;